# Required for documentation
git+git://github.com/sbl-sdsc/mmtf-pyspark.git#egg=mmtf-pyspark
sphinx ==1.7.4
numpydoc ==0.7.0
pyspark >=2.3.0
biopython >=1.7.1
msgpack-python >=0.5.6
numpy >=1.14.2
ipywidgets >=7.2.1
mmtf-python ==1.1.1
sympy ==1.1.1
requests >=0.8.0
matplotlib >=2.2.0
seaborn >=0.7.1
py3Dmol >=0.6.3
scipy >=1.0.0
scikit-learn >=0.13.0
py4j >=0.10.6
