
h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

.btn-container {
  padding: 20px 0;
}

.btn-download {
  color: #04014f;
  display: block;
  margin: 0 auto;
}

.btn-download:hover {
  background-color: #04014f;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.dataframe th {
  padding: 1px 3px;
}
